<div class="item">
    <input 
        class="checkbox-completed"
        [id]="item.description"
        type="checkbox"
        (change)="item.completed = !item.completed; done = !done"
        [checked]="item.completed"
    />

    <div *ngIf="!editable">
        <label [for]="item.description" (dblclick)="editable = !editable">{{item.description}}</label>
        <!-- <button (click)="editable = !editable">Edit</button> -->
    </div>

    <div *ngIf="editable">
        <input type="text"
            placeholder="edit item"
            [value]="item.description"
            #editedItem
            (keyup.enter)="saveItem(editedItem.value)"
        />
        <button (click)="editable = !editable">Cancel</button>
        <!-- <button (click)="saveItem(editedItem.value)">Save</button> -->
    </div>
    <button *ngIf="done" (click)="remove.emit()">Delete</button>

</div>