
<div class="content" role="main">

  <h1>ToDo List</h1>

  <div class="inputToDo">
    <input type="text"
      #newItem
      placeholder="Type what you need to do"
      (keyup.enter)="addItem(newItem.value); newItem.value='' "
      class="todo-text-input"
      id="addItemInput"
    />

    <button class="btn-addItem" (click)="addItem(newItem.value); newItem.value=''">Add</button>
  </div>
  
  <div class="allCompletedCheckbox">
    <input type="checkbox" (change)="allCompleted($event)"/>
    <span>All Completed</span>
  </div>

  <h2>
    {{items.length}}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>

  <ul>
    <li *ngFor="let item of items">
      <app-item (remove)="remove(item)" [item]="item"></app-item>
    </li>
  </ul>

  <div>
    <button class="btn-filter" (click)="filter = 'all'" (click)="getFilters()">All</button>
    <button class="btn-filter" (click)="filter = 'active'" (click)="getFilters()">Active</button>
    <button class="btn-filter" (click)="filter = 'completed'" (click)="getFilters()">Completed</button>

    <button class="btn-filter" (click)="removeAllCompleted()">Clear Completed</button>
</div>

</div>


<router-outlet></router-outlet>
